* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  display: inline-flex;
  margin-left: 1rem;
  padding: 5px;
  height: 6vh;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 30px;
  margin: 3rem;
  padding: 3px;

}


h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 0;
  margin: 0rem;

}


.col.s4 {
  align-content: center;
  display: inline-flex;
  margin: 10px 10px;
  padding: 10px 10px;
  width: 100vw;
}

.logo {
  margin-left: 12px;
}


.m6 {
  margin: auto;
  justify-content: center;
  display: flex;
}

.card-image {
  justify-content: center;
  margin: auto;
  padding: 5px;
}

/* needs to hide & show current weather */
#weatherBox {
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: auto;
  padding: 4px 2px;
}

#image {
  margin: 10px;
  padding: 20px;
  width: 150px
}

/* Need to hide and create individual cards for each location trail */
#cardDisplay {
  
  margin: auto;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 2px;

}

#output {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
